@import "tailwindcss";

@theme {
  --font-sans: var(--font-jakarta), ui-sans-serif, system-ui, sans-serif;
  --color-brand-emerald: #082220;
  --color-brand-emerald-light: #0b2e2b;
  --color-brand-green: #82C21C;
  --color-brand-green-hover: #96d62d;
}

/* Remove default background settings as layout handles it */
body {
  font-family: var(--font-sans);
}
